{% extends 'layouts/base.html' %}

{% block content %}
<main class="d-flex ">
    <!-- Barra lateral izquierda pegada a la izquierda -->
    <aside class="bg-light p-3 card" style="min-width: 50px;">
        <h3>{{ autor.nombre }}</h3>
        <p>Edad: {{edad_autor}}</p>
        <p>Nacionalidad: {{ autor.nacionalidad }}</p>
        <p>Email: {{ autor.email }}</p>
        <p>Grupo investigativo: {{ autor.id_grupo }}</p>
    </aside>

    <!-- Contenido principal -->
    <div class="flex-grow-1">
        <section class="d-flex mb-4 ">
            <div class="px-5">
                <h1>{{article}}</h1>
            </div>
            <div class="px-5 card">
                <div>
                    <h3>{{grupo}}</h3>
                    <p>Línea: {{grupo.linea}}</p>
                    <p>{{grupo.categoria}}</p>
                </div>
            </div>
        </section>

        <section class="px-5">
            <p>Palabras clave: {{article.palabras_clave}}</p>
            {% if article.copia %}
            <p>Copia: Si</p>
            {% else %}
            <p>No</p>
            {% endif %}
            <p>Ubicación: {{article.ubicacion}}</p>
            <p>Autor: {{article.id_autor}}</p>
            <p>Tipo de articulo: {{article.id_tipo}}</p>
        </section>
    </div>
</main>
{% endblock %}
