{% extends 'layouts/base.html' %}

{% block content %}
<main class="d-flex ">
    <!-- Barra lateral izquierda pegada a la izquierda -->
    <aside class="bg-light p-3 card" style="min-width: 50px;">
        <h3>{{ autor.nombre }}</h3>
        <p>Edad: {{edad_autor}}</p>
        <p>Nacionalidad: {{ autor.nacionalidad }}</p>
        <p>Email: {{ autor.email }}</p>
        <p>Grupo investigativo: {{ autor.id_grupo }}</p>
      
    </aside>

    <!-- Contenido principal -->
    <div class="flex-grow-1">
        <section class="d-flex mb-4 ">
            <div class="px-5">
                <h1>{{article}}</h1>
            </div>
            <div class="px-5 card">
                <div>
                    <h3>{{grupo}}</h3>
                    <p>Línea: {{grupo.linea}}</p>
                    <p>{{grupo.categoria}}</p>
                </div>
            </div>
        </section>

        <section class="px-5 p-color">
            <p><span class="fw-bold">Palabras clave: </span>{{article.palabras_clave}}</p>
            {% if article.copia %}
            <p><span class="fw-bold">Copia: </span>Si</p>
            {% else %}
            <p><span class="fw-bold">Copia: </span>No</p>
            {% endif %}
            <p><span class="fw-bold">Ubicación: </span>{{article.ubicacion}}</p>
            <p><span class="fw-bold">Autor: </span>{{article.id_autor}}</p>
            <p><span class="fw-bold">Tipo de articulo: </span>{{article.id_tipo}}</p>
            <div class="d-flex ">
                <a href="{% url 'edit_article' article.id %}">
                    <div class="d-flex" title="Editar artículo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" title="Editar artículo">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </div>
                </a>
                <a href="{% url 'delete_article' article.id %}" class="btn btn-sm btn-danger">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </section>
       
        <div class="px-5 py-3 p-color">
            {% if tipo_de_articulo == 1 %}
        <section>
            <h2>Informe Técnico</h2>
            {% for info in informes %} {% if info.id_articulo_id == article.id %}
                <p>Número: {{ info.numero }}</p>
                <p>Centro de Publicación: {{ info.centro_pub }}</p>
                <p>Fecha: {{ info.fecha }}</p>
                {% endif %}
            {% endfor %}
        </section>
        {% elif tipo_de_articulo == 2 %}
        <section>
            <h2>Acta de Congreso</h2>
            {% for acta in actas %} {% if acta.id_articulo_id == article.id %}
                <p>Edición: {{ acta.edicion }}</p>
                <p>Ciudad: {{ acta.ciudad }}</p>
                <p>Fecha: {{ acta.fecha }}</p>
                <p>Tipo: {{ acta.tipo }}</p>
                <p>Frecuencia: {{ acta.frecuencia }}</p>
                <p>País: {{ acta.pais }}</p>
                <p>Año Primera Edición: {{ acta.ano_primer_ed }}</p>
            {% endif %}{% endfor %}
        </section>
        {% elif tipo_de_articulo == 3 %}
        <section>
            <h2>Revista Científica</h2>
            {% for revista in revistas %} {% if revista.id_articulo_id == article.id %}
                <p>Nombre: {{ revista.nombre }}</p>
                <p>Editor: {{ revista.editor }}</p>
                <p>Año de Inicio: {{ revista.ano_inicio }}</p>
                <p>Periodicidad: {{ revista.periodicidad }}</p>
                <p>Tema: {{ revista.tema }}</p>
                <p>Número de Edición: {{ revista.num_edicion }}</p>
                <p>Páginas: {{ revista.paginas }}</p>
                <p>Año de Publicación: {{ revista.ano_pub }}</p>
            {% endif %}{% endfor %}
        </section>
        {% else %}
        <h1>Artículo no registrado en la aplicación</h1>
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}