{% extends 'layouts/base.html' %}
{% block content %}

<body class="custom-color">
  <main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Gestor de grupos de investigacion</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem a
        molestias alias minus! Architecto quaerat, id suscipit distinctio tempore
        dolore totam velit alias praesentium voluptates ex nam doloremque
        necessitatibus atque dolores neque facere deserunt quibusdam aliquam error
        quidem aliquid. Fugit iusto rem incidunt suscipit sequi excepturi delectus
        blanditiis praesentium modi, sint numquam laudantium magnam, deleniti
        magni, nihil voluptate ex? Explicabo, sapiente ex molestias, commodi
        asperiores reprehenderit non, mollitia doloribus exercitationem quod ab
        modi suscipit sit nemo deleniti voluptatum eum nostrum? Suscipit odio,
        aspernatur facilis, ipsa adipisci doloremque corporis, recusandae debitis
        atque ducimus deserunt odit? Laudantium est quis iusto sequi maiores!
      </p>
  
      <div class="text-center">
        <a class="btn btn-primary" href="signup">Registrarse</a>
        <a class="btn btn-secondary" href="signin">Iniciar sesion</a>
      </div>
    </section>
  </main>
</body>


{% endblock %}