{% extends 'layouts/base.html' %}

{% block content %}
<main class="container my-4">
  <!-- Formulario de búsqueda -->
  <form id="search-form" method="get" action="{% url 'home' %}" class="mb-4">
    <div class="input-group">
        <select id="search-by" name="search_by" class="form-select">
            <option value="titulo">Título</option>
            <option value="autor">Autor</option>
            <option value="palabras_clave">Palabras Clave</option>
            <option value="tipo">Tipo</option>
            <option value="ubicacion">Ubicación</option>
        </select>
        <input type="text" id="search-input" name="q" class="form-control" placeholder="Buscar..." autocomplete="off">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<ul id="suggestions-list" class="list-group mt-2"></ul>


    <div class="row">
        <!-- Barra lateral con grupos de investigación -->
        <aside class="col-md-3">
            <div class="px-3">
                <h3 class="py-3">Grupos de investigación</h3>
                {{ error }}
                <ul class="list-group">
                    {% for group in groups %}
                    <a class="list-group-item" href="{% url 'group_detail' group.id %}">
                        <header class="d-flex justify-content-between">
                            <h6>{{ group.nombre|capfirst }}</h6>
                        </header>
                        <p>{{ group.linea }}</p>
                        <p>{{ group.categoria }}</p>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </aside>

        <!-- Artículos -->
        <article class="col-md-9">
            <div>
                <h3 class="py-3">Artículos</h3>
                {{ error }}
                <div class="row">
                    {% for article in articles %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="{% url 'article' article.id %}">
                                    <h4 class="card-title">{{ article.titulo|capfirst }}</h4>
                                    <p class="card-text">{{ article.ubicacion }}</p>
                                    <p class="fw-bold">{{ article.id_autor }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if group_id %}
            <div>
                <p>{{ group_id.nombre }}</p>
                <p>{{ group_id.linea }}</p>
                <p>{{ group_id.categoria }}</p>
            </div>
            {% endif %}
        </article>
    </div>
</main>
{% endblock %}
